# Игнорируем всё, что связано с Git и окружением
.git/
.venv/
venv/
__pycache__/

# Игнорируем локальные данные (база должна создаваться внутри или монтироваться)
data/

# Игнорируем IDE
.idea/
.vscode/

# Лишние файлы
README.md
requirements.txt
